{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    {% load static %}
    <link type="text/css"  href="{% static 'style.css' %}">
    <title>Mathemator</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">Mathemator</a>
      <!-- Toggler/collapsibe Button -->
      <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="h-100 row align-items-center">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>
