{% extends "base_registration.html" %}

{% block title %}
  Log in
{% endblock %}

{% block content %}
<div class="registration">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <h2>Please login to see this page.</h2>
    {% endif %}
  {% endif %}
  
  {% if user.is_authenticated %}
        <p> you're already logged</p>
  {% else %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="table">
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button class="btn btn-dark" type="submit" >login</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  {% endif %}
</div>
{% endblock %}