{% extends "registration/base_registration.html" %}

{% block content %}
<div class="registration">
    {% if validlink %}
        <p>S'il vous plait, veuillez indiquer et confirmer votre nouveau mot de passe</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Votre nouveau mot de passe :</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmation de votre nouveau mot de passe :</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Le changement de mot de passe a échoué</h1>
        <p>Votre mot de passe a peut-être déjà été utilisé. Veuillez essayer avec un nouveau mot de passe.</p>
    {% endif %}
</div>
{% endblock %}
