{% extends "base.html" %}

{% block content %}
{% include 'exercises/exercises.html' %}
  <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
    <a href="#" data-target="#sidebar" data-toggle="collapse" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Exercises</a>
    <div class="lead display-3">Bienvenue sur Mathemator</div>
    <br>
    <div>
      Mathemator est un site qui propose des exercices simples de mathématique.<br>
      Il y a une navigation permettant d'accéder à l'exercice souhaité ainsi qu'une page de profil permettant d'avoir une vue d'ensemble de votre progression.
      <br><br>
      Ce site a été réalisé dans le cadre du cours de web de troisième année en Bachelor en informatique à la HE-Arc de Neuchâtel.<br>
      Roxane Carraux - Edwin Claude - Loïc Jurasz <br>
      Avril 2020
    </div>
  </main>
{% endblock %}
