{% extends "base.html" %}

{% block content %}
<h1>{{ user.get_username }}</h1>
<div style="margin-left:5%;">
  <h2>{{student.group}}</h2>
  <div style="margin-left:5%;">
    <h3>Nom de l'exercice</h3>
    <table class="table" style="text-align:center; margin-top:2%;">
      <thead class="thead-light">
        <tr>
          <th scope="col">Exercice 1</th>
          <th scope="col">Exercice 2</th>
          <th scope="col">Exercice 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Validé</td>
          <td>Validé</td>
          <td>non validé</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
