{% extends "base.html" %}

{% block content %}
<h1>{{ user.get_username }}</h1>
<div style="margin-left:5%;">
  <h2>{{student.group}}</h2>
  <div style="margin-left:5%;">
    <h3>Exercice</h3>
    <div class="table-responsive">
      <table class="table" style="text-align:center; margin-top:2%;">
        <thead class="thead-light">
          <tr>
            {% for ex in exercises %}
                <th scope="col">{{ex.name}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for ex in exercises %}
                {% if ex in exerciseDone %}
                  <td scope="col" class="done">réussi</td>
                {% else %}
                <td scope="col" class="fail">raté</td>
                {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
