{% extends "base.html" %}

{% block content %}

  {% include 'exercises/exercises.html' %}

  <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
    <a href="#" data-target="#sidebar" data-toggle="collapse" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Exercises</a>

    <h1 class="text-center display-1">{{exercise.name}}</h1>
    <div>
      <strong>Année </strong><br>
      {{exercise.year}}<br>
      <strong>Matière</strong><br>
      {{exercise.branches}}<br>
      <strong>Thème</strong><br>
      {{exercise.theme}}<br>
      <strong>Objectif</strong><br>
      {{exercise.objective}}<br>
    </div>
    <br>
    <br>
    <div class="display-2">
      <h2>{{exercise.question}}<h2>
    </div>
    <div class="display-4">
      {% for r in listRandom %}
            {{r}}
      {% endfor %} =
    </div>
    <form method="post" action="/checkResult/">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="NumberInput" id="resultInput" name="resultInput" value="">
      </div>
      <input type="hidden" name="next" value="{{ request.path }}">
      <input type='hidden'  id="exercise_id" name="exercise_id" value={{exercise.id}} />
      <input type='hidden'  id="result" name="result" value={{result}} />
      <input  class=" btn btn-primary btn-lg  float-sm-right" type="submit" value="Valider">
    </form>
    <br><br><br>
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
          {{ message }} <br>
        {% endfor %}
    </div>
    {% endif %}
  </main>
{% endblock %}
