{% extends "base.html" %}

{% block content %}
{% include 'exercises/exercises.html' %}
<a href="#" data-target="#sidebar" data-toggle="collapse" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Exercises</a>
<h1>Pré-requis</h1>
<p>Vous n'avez pas fait tous les exercices requis pour l'exercice : {{ exercise.name }}</p>
<p>Il faut faire les exercices suivant :</p>
{% for ex in exerciseRequirement %}
  <a href="{% url 'operations' ex.id %}">{{ ex.name }}</a>
{% endfor %}
{% endblock %}
